<!doctype html>
<html>
<head>

<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="Ben Weinstein-Raun">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gentium+Basic:ital,wght@0,400;0,700;1,400&family=Overpass&family=Overpass+Mono&display=swap" rel="stylesheet"> 

<link rel="stylesheet" href="/styles/normalize.css">
<link rel="stylesheet" href="/styles/skeleton.css">
<link rel="stylesheet" href="/styles/main.css">
<link rel="stylesheet" href="/styles/highlight.css">

<link rel="icon" type="image/png" href="/images/favicon.png">
<title>{{ page.title }} | Ben Weinstein-Raun</title>

<!-- analytics -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-32925862-1']);
_gaq.push(['_trackPageview']);
(function() {
 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();
</script>
<script type="text/javascript" async
 src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
</head>
<body>
    {{ content }}
</body>
</html>
