---
layout: default
---

<div class="container">
    <div class="row home-top-bar">
        <div class="offset-by-two ten columns name">
            <a href="/"><h1>Ben Weinstein-Raun</h1></a>
        </div>
    </div>
    <div class="row home-top-bar">
        <div class="offset-by-two eight columns nav">
            <a href="/blog">blog</a>
            <a href="/">about</a>
            <a href="https://github.com/benwr">github</a>
            <a href="https://linkedin.com/in/benwr">linkedin</a>
        </div>
    </div>
    <div class="row">
        <div class="offset-by-two eight columns content">
            {{ content }}
        </div>
    </div>
</div>
