body {
    background-color: #fcfaef;
    font-family: "Gentium Basic", "Palatino", "Georgia", serif;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: #000;
}

div.home-top-bar div.name {
    margin-top: 4em;
    margin-bottom: 0;
}

div.page-top-bar {
    margin-top: 1em;
}

div.home-top-bar div.nav {
    height: 4em;
    margin-bottom: 1em;
}

div.page-top-bar div.nav {
    text-align: right;
    font-size: 1.2em;
    height: 4em;
}

div.home-top-bar div.nav a {
    padding-right: 1em;
    font-size: 1.4em;
    margin-top: 0.4em;
}

div.page-top-bar div.nav a {
    padding-left: 1em;
    line-height: 1.5em;
    font-size: 1.0em;
}

div.nav a {
    display: inline-block;
    color: #ccc;
}

div.nav a:hover {
    color: #666;
}

h1, h2, h3 {
    text-align: left;
    font-family: 'Overpass', sans-serif;
}

h2 {
  0.7em;
}

div.page-top-bar h1 {
    font-size: 1.6em;
}

div.page-top-bar a h1 {
    color: #aaa;
}

div.page-top-bar a:hover h1 {
    color: #666;
}

div.home-top-bar h1 {
    font-size: 2.3em;
    margin-bottom: 0;
}

a {
    color: #21a2fd;
    text-decoration: none;
}

a:hover {
    color: #81d2ff;
}

a h1 {
    color: #000;
}

p.infobar {
    color: #666;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0.4em 0.8em;
    font-style: italic;
    border-radius: 0.5em;
}

.content {
    font-size: 1.1em;
}

.content .image {
    border-radius:1em;
    overflow: hidden;
    padding: 0;
    margin: 1.5em;
}

.content a h2, .content h2 {
    color: #000;
}

code {
    font-size: 0.7em;
    font-family: "Overpass Mono", monospace;
    background-color: rgba(0, 0, 0, 0.03);
}

blockquote {
    font-style: italic;
    color: #555;
}

span.date, span.location {
    display: block;
    float: right;
    clear: both;
    font-style: italic;
    font-size: 0.8em;
    color: #999;
    margin-left: 3em;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.5em;
}

div.footnotes p {
    display: inline;
    font-size: 0.8em;
}

div.content img {
    max-width: 100%;
}

li {
  margin-bottom: 0.5rem;
}
